<div class="container-fluid my-3" *ngIf="userData">
  <div class="row">
    <div class="col-md-4">
      <div class="card border-success mb-3">
        <div class="card-body text-success">
          <h6 class="card-title">Account Balance</h6>
          <hr />
          <p class="card-text">User: {{ this.userData.email }}</p>
          <p class="card-text">
            Current balance: ${{
              this.userData.currentBalance | number: "1.2-2"
            }}
          </p>
          <p class="card-text">
            Current debt: ${{ this.userData.totalDebt | number: "1.2-2" }}
          </p>
          <p class="card-text">
            Total investments: ${{
              this.userData.totalInvestment | number: "1.2-2"
            }}
          </p>
        </div>
      </div>
    </div>
    <ul type="none">
      <li>
        <button
          type="button"
          class="btn btn-outline-success waves-effect"
          (click)="this.createDepositModal()"
        >
          Deposit
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn btn-outline-success waves-effect"
          (click)="this.createWithdrawModal()"
        >
          Withdraw
        </button>
      </li>
      <li></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card border-success mb-3">
        <div class="card-body text-success">
          <h6 class="card-title">Total investments</h6>
          <hr />
          <div *ngIf="this.curInvestments[0]" class="card-text">
            Total period of all investments:
            {{ this.curInvestments[0].period }} months.
          </div>
          <div *ngIf="!this.curInvestments[0]" class="card-text">
            No any investments at the moment!
          </div>
          <div class="card-text">
            Number of borrowers: {{ this.filterForBorrowers.length }}
          </div>
          <div class="card-text">Overdue investments: SHOULD</div>
          <div class="card-text">Next Due Date and Amount: SHOULD</div>
          <hr />
          <button
            type="button"
            class="btn btn-outline-success waves-effect"
            [routerLink]="'/investor'"
          >
            Invest Panel
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-success mb-3">
        <div class="card-body text-success">
          <h6 class="card-title">Total debts</h6>
          <hr />
          <div *ngIf="this.curLoans[0]" class="card-text">
            Total period of all debts: {{ this.curLoans[0].period }} months.
          </div>
          <div *ngIf="!this.curLoans[0]" class="card-text">
            No any debts at the moment!
          </div>
          <div class="card-text">
            Number of investors: {{ this.filteredForInvestors.length }}
          </div>
          <div class="card-text">Overdue Loans: SHOULD</div>
          <div class="card-text">Next Due Date and Amount: SHOULD</div>
          <hr />
          <button
            type="button"
            class="btn btn-outline-success waves-effect"
            [routerLink]="'/borrower'"
          >
            Borrow Panel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
