<div
  class="card-body"
  *ngIf="
    this.loanData &&
    this.allPayments &&
    this.userBalanceData &&
    this.investorFirstName &&
    this.investorLastName
  "
>
  <ul class="list-unstyled current-loans">
    <div class="row" style="padding: 2px 16px;">
      <span class="col-6"> </span>
      <button
        type="button"
        class="btn col-6"
        (click)="this.showFullLoanData = !this.showFullLoanData"
      >
        <b *ngIf="!this.showFullLoanData">Show</b>
        <b *ngIf="this.showFullLoanData">Hide</b>
      </button>
    </div>
    <li>
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <p>
                Investor:
                <b>{{ this.investorFirstName }} {{ this.investorLastName }}</b>
              </p>
              <p>
                Next Due Date:
                <b>{{ this.calcNextDueDate() }}</b>
              </p>
              <p>
                Installment:
                <b>{{ this.installment }} $</b>
              </p>
              <div *ngIf="showFullLoanData">
                <p>
                  Date Created: <b>{{ this.loanData.date }}</b>
                </p>
                <p>
                  Date End Of Contract:
                  <b>{{ this.dateEndOfContract }}</b>
                </p>
                <p>
                  Total Amount Without Interest:
                  <b>{{ this.amount | number: '1.2-2' }} $</b>
                </p>
                <p>
                  Total Amount:
                  <b>{{ this.totalAmount | number: '1.2-2' }} $</b>
                </p>
                <p *ngIf="this.overdueDays() > 0">
                  Overdue Days:
                  <b>{{ this.overdueDays() }}</b>
                </p>
                <p *ngIf="this.overdueDays() > 0">
                  Overdue Payment:
                  <b>{{ this.overdueAmount() | number: '1.2-2' }} $</b>
                </p>
                <p>
                  Penalty Rate: <b>{{ this.penalty }} %</b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div
        *ngIf="this.amountLeft"
        class="card"
        [style.background-color]="this.overdueAmount() > 0 ? '#f03d3d' : ''"
      >
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <p><b>Amount Left to Pay:</b></p>
            </div>
            <h3 class="fw-bold">
              {{ this.amountLeftWithInterest | number: '1.2-2' }}
              $
            </h3>
          </div>
          <div class="progress progress-sm">
            <div
              class="progress-bar my-progress-bar"
              role="progressbar"
              [style.width.%]="
                (this.amountLeftWithInterest / this.totalAmount) * 100
              "
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <p
              [ngClass]="this.overdueAmount() > 0 ? '' : 'text-muted mb-0'"
            >
              {{
                (this.amountLeftWithInterest / this.totalAmount) * 100
                  | number: '1.2-2'
              }}
              %
            </p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="card">
        <div class="card-body pb-0">
          <div class="h3 fw-bold float-right">{{ this.interestRate }} %</div>
          <p><b>Interest rate:</b></p>
          <div class="pull-in sparkline-fix">
            <div id="lineChart"></div>
          </div>
        </div>
      </div>
    </li>
    <div class="row">
      <div class="col-6 btn-div">
        <button class="btn btn-block" (click)="openAddPaymentsModal()">
          <b>Pay</b>
        </button>
      </div>
      <div class="col-6 btn-div">
        <button
          type="button"
          class="btn btn-block"
          (click)="this.openShowPaymentsModal()"
        >
          <b>History</b>
        </button>
      </div>
    </div>
  </ul>
</div>
