<div class="modal-header">
  <h5 class="modal-title">
    New Partial Loan Proposal
  </h5>
</div>
<div class="modal-body">
  <form
    class="container"
    [formGroup]="this.addPartialLoanSuggestion"
    (ngSubmit)="this.emitPartialSuggestion(this.addPartialLoanSuggestion.value)"
  >
    <div class="row">
      <div class="form-group col-6">
        <label for="interest-rate" class="col-form-label">Interest Rate</label>
        <input
          type="number"
          class="form-control"
          id="interest-rate"
          formControlName="interestRate"
        />
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addPartialLoanSuggestion.controls.interestRate?.errors?.min"
        >
          Invalid interest rate!
        </span>
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addPartialLoanSuggestion.controls.interestRate?.errors?.max"
        >
          Invalid interest rate!
        </span>
      </div>
      <div class="form-group col-6">
        <label for="penalty-per-day" class="col-form-label"
          >Penalty Per Day</label
        >
        <input
          type="number"
          class="form-control"
          id="penalty-per-day"
          formControlName="penalty"
        />
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addPartialLoanSuggestion.controls.penalty?.errors?.min"
        >
          Invalid penalty rate!
        </span>
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addPartialLoanSuggestion.controls.penalty?.errors?.max"
        >
          Invalid penalty rate!
        </span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="period" class="col-form-label">Period of Months</label>
        <input
          type="number"
          class="form-control"
          id="period"
          formControlName="period"
        />
      </div>
      <div class="form-group col-6">
        <label for="total-amount" class="col-form-label">Total Amount</label>
        <input
          type="number"
          class="form-control"
          id="total-amount"
          formControlName="amount"
        />
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addPartialLoanSuggestion.controls.amount?.errors?.min"
        >
          Invalid amount!
        </span>
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addPartialLoanSuggestion.controls.amount?.errors?.max"
        >
          The client doesn't require that much!
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary btn-modal-close"
        (click)="this.closeModal()"
      >
        Close
      </button>
      <button
        type="submit"
        class="btn btn-outline-dark btn-modal"
        [disabled]="addPartialLoanSuggestion.invalid"
      >
        Send Suggestion
      </button>
    </div>
  </form>
</div>
