<div class="modal-header">
  <h5 class="modal-title">
    New Partial Loan Proposal
  </h5>
</div>
<div class="modal-body">
  <form
    class="container"
    [formGroup]="this.addPartialLoanSuggestion"
    (ngSubmit)="this.emitPartialSuggestion(this.addPartialLoanSuggestion.value)"
  >
    <div class="row">
      <div class="form-group col-6">
        <label for="recipient-name" class="col-form-label">Interest Rate</label>
        <input
          type="number"
          class="form-control"
          id="int-rate"
          formControlName="interestRate"
        />
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addPartialLoanSuggestion.controls.interestRate?.errors?.min"
        >
          Invalid interest rate!
        </span>
      </div>
      <div class="form-group col-6">
        <label for="recipient-name" class="col-form-label"
          >Penalty Per Day:</label
        >
        <input
          type="number"
          class="form-control"
          id="recipient-name"
          formControlName="penalty"
        />
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addPartialLoanSuggestion.controls.penalty?.errors?.min"
        >
          Invalid penalty rate!
        </span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="recipient-name" class="col-form-label"
          >Period of Months:</label
        >
        <input
          type="number"
          class="form-control"
          id="recipient-name"
          formControlName="period"
        />
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addPartialLoanSuggestion.controls.period?.errors?.min"
        >
          Invalid period duration!
        </span>
      </div>
      <div class="form-group col-6">
        <label for="recipient-name" class="col-form-label">Total Amount:</label>
        <input
          type="number"
          class="form-control"
          id="recipient-name"
          formControlName="amount"
        />
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addPartialLoanSuggestion.controls.amount?.errors?.min"
        >
          Invalid amount!
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="this.closeModal()"
      >
        Close
      </button>
      <button
        type="submit"
        class="btn btn-outline-dark"
        [disabled]="addPartialLoanSuggestion.invalid"
      >
        Send Suggestion
      </button>
    </div>
  </form>
</div>
