<table class="table table-striped" *ngIf="this.users">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">E-mail</th>
    <th scope="col">Current Balance</th>
    <th scope="col">Status</th>
    <th scope="col"> <button
        class="btn col-12"
        (click)="this.openCreateAdminModal()"
      >
        <b>Create Admin</b>
      </button></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; let i = index">
    <th scope="row"></th>
    <td>
      {{ user.firstName }} {{ user.lastName}}
    </td>
    <td>
      {{ user.email }}
    </td>
    <td>{{ user.currentBalance | number: "1.2-2" }} $</td>
    <td>{{ user.status }}</td>
    <td>          <button
        class="btn col-12"
        (click)="this.openShowDetailsModal(user.$userId)"
      >
        <b>Details</b>
      </button>
    </td>
  </tr>
  </tbody>
</table>