<div class="card-body">
  <ul class="list-unstyled current-investments">
    <li>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <p>
              Borrower: <b>{{ this.firstName }} {{ this.lastName }}</b>
            </p>
            <p>
              Date: <b>{{ this.date }}</b>
            </p>
            <p>
              Total Amount:<b> ${{ this.totalAmount | number: '1.2-2' }}</b>
            </p>
            <p>
              Total Amount Left:
              <b> ${{ this.amountLeft | number: '1.2-2' }}</b>
            </p>
            <p>
              Interest rate: <b>{{ this.interestRate | number: '1.2-2' }}%</b>
            </p>
            <p>
              Installment:
              <b> ${{ this.installment | number: '1.2-2' }}</b>
            </p>
            <p>
              Next Due Date: <b>{{ this.calcNextDueDate() }}</b>
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
