  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Please enter your Loan preferences:
        </h5>
        <button
          type="button"
          class="close"
          (click)="this.closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form
          class="container"
          [formGroup]="this.createLoan"
          (ngSubmit)="this.emitLoanData(this.createLoan.value)"
        >
          <div class="row">
            <div class="form-group col-6">
              <label for="exampleInputEmail1">Period: </label>
              <input
                type="number"
                class="form-control"
                id="loan-period"
                placeholder=" Enter your prefered period of months"
                formControlName="period"
              />
            </div>
            <div class="form-group col-6">
              <label for="exampleInputEmail1">Amount: </label>
              <input
                type="number"
                class="form-control"
                id="loan-amount"
                placeholder=" Enter your prefered amount"
                formControlName="amount"
              />
            </div>
            <div class="form-group form-check-inline col-6 checkbox-form">
              <label for="form-check-label" class="checkbox-label"
                >Partial:
              </label>
              <input
                type="checkbox"
                class="form-check-input checkbox-box"
                id="form-check-label"
                formControlName="partial"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="this.closeModal()"
            >
              Close
            </button>
            <button
              type="submit"
              [disabled]="createLoan.invalid"
              class="btn btn-outline-dark"
            >
              Submit Loan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
