<!-- Here to make ngFor!!! -->
<div class="card-body" *ngIf="this.loanRequestData && this.loanSuggestions">
  <ul class="list-unstyled" style="border: 2px solid gray; padding: 5px;">
    Request:
    <li>
      <div class="card">
        <div class="card-body">
          <form
            [formGroup]="this.editLoanForm"
            (submit)="this.editLoanRequest(this.editLoanForm.value)"
          >
            <div class="d-flex justify-content-between">
              <div>
                <p>
                  Total Amount:
                  <b *ngIf="!this.edit"
                    >{{ this.amount | number: "1.2-2" }} $</b
                  >

                  <b *ngIf="this.edit" style="display: inline-flex;">
                    <input
                      type="number"
                      class="form-control"
                      id="loan-amount"
                      placeholder=" Enter your prefered amount"
                      formControlName="amount"
                    />
                    $
                  </b>
                  <br />
                  <span
                    class="font-italic font-weight-bold text-danger"
                    *ngIf="editLoanForm.controls.amount?.errors?.min"
                  >
                    You can't edit amount less than - {{this.editLoanForm.controls.amount?.errors?.min.min}} $!
                  </span>
                </p>
                <p>
                  Period: <b>{{ this.period }} Months</b>
                </p>
                <p>
                  Date Submited: <b>{{ this.dateSubmited }} </b>
                </p>
                <p>
                  Partial: <b *ngIf="this.partial"> Yes </b>
                  <b *ngIf="!this.partial"> No </b>
                </p>
                <p *ngIf="this.partial && this.amountLeftToInvest > 0">
                  Amount Left To Invest:
                  <b>{{ this.amountLeftToInvest | number: "1.2-2" }} $</b>
                </p>
              </div>
            </div>
            <button
              class="btn col-6"
              *ngIf="!this.edit"
              (click)="this.resetForm(); this.editFormValidation()"
            >
              <b>Edit</b>
            </button>
            <button
              class="btn col-6"
              type="submit"
              *ngIf="this.edit"
              [disabled]="editLoanForm.invalid"
            >
              <b>Save</b>
            </button>
            <button
              *ngIf="this.edit"
              class="btn col-6"
              (click)="this.resetForm()"
            >
              <b>Cancel</b>
            </button>
            <button
              *ngIf="!this.edit"
              class="btn col-6"
              (click)="this.deleteRequest()"
            >
              <b>Delete</b>
            </button>
          </form>
        </div>
      </div>
    </li>
    <li>
      <div *ngFor="let suggestion of this.loanSuggestions">
        <div *ngIf="suggestion.$requestId === $requestId">
          <h5>Investor: {{ this.suggestion.email }}</h5>
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <p>
                    Amount:
                    <b>{{ this.suggestion.amount | number: "1.2-2" }} $</b>
                  </p>
                  <p>
                    Total Amount:
                    <b
                      >{{
                        this.calculateTotalAmount(
                          this.suggestion.amount,
                          this.suggestion.interestRate,
                          this.suggestion.period
                        ) | number: "1.2-2"
                      }}
                      $</b
                    >
                  </p>
                  <p>
                    Period: <b>{{ this.suggestion.period }} Months </b>
                  </p>
                  <p>
                    Date Submited: <b>{{ this.suggestion.dateSubmited }} </b>
                  </p>
                  <p>
                    Installments:
                    <b
                      >{{
                        (this.suggestion.amount *
                          this.suggestion.interestRate) /
                          100 /
                          this.suggestion.period +
                          this.suggestion.amount / this.suggestion.period
                          | number: "1.2-2"
                      }}
                      $</b
                    >
                  </p>
                  <p>
                    Interest Rate:
                    <b>{{ this.suggestion.interestRate }} %</b>
                  </p>
                  <p>
                    Penalty Rate Per Day:
                    <b>{{ this.suggestion.penalty }} %</b>
                  </p>
                  <!-- <p>Partial: {{this.suggestion.partial}}</p> -->
                </div>
              </div>
              <button
                class="btn col-6"
                (click)="this.acceptRequest(this.suggestion)"
              >
                <b>Accept</b>
              </button>
              <button
                class="btn col-6"
                (click)="this.rejectSuggestion(this.suggestion.$suggestionId)"
              >
                <b>Reject</b>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
