.btn {
  background-color: #8b728e;
  color: white;
}

.btn:hover {
  background-color: #694873;
  color: white;
}

.loan-requests {
  border: 2px solid gray;
  padding: 5px;
  border-radius: 5px;
}
