<div class="modal-header">
  <h5 class="modal-title">
    New Loan Proposal
  </h5>
</div>
<div class="modal-body">
  <form
    class="container"
    [formGroup]="this.addLoanSuggestion"
    (ngSubmit)="this.emitSuggsetion(this.addLoanSuggestion.value)"
  >
    <div class="row">
      <div class="form-group col-6">
        <label for="exampleInputEmail1">Interest Rate</label>
        <input
          type="number"
          class="form-control"
          id="int-rate"
          placeholder="Interest rate"
          formControlName="interestRate"
        />
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addLoanSuggestion.controls.interestRate?.errors?.min"
        >
          Invalid interest rate!
        </span>
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addLoanSuggestion.controls.interestRate?.errors?.max"
        >
          Invalid interest rate!
        </span>
      </div>
      <div class="form-group col-6">
        <label for="exampleInputEmail1">Penalty Per Day</label>
        <input
          type="number"
          class="form-control"
          id="pen-rate"
          placeholder="Penalty rate"
          formControlName="penalty"
        />
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addLoanSuggestion.controls.penalty?.errors?.min"
        >
          Invalid penalty rate!
        </span>
        <span
          class="font-italic font-weight-bold text-danger"
          *ngIf="addLoanSuggestion.controls.penalty?.errors?.max"
        >
          Invalid penalty rate!
        </span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="period" class="col-form-label">Period of Months</label>
        <input
          type="number"
          class="form-control"
          id="period"
          formControlName="period"
        />
      </div>
      <div class="form-group col-6">
        <label for="total-amount" class="col-form-label">Total Amount</label>
        <input
          type="number"
          class="form-control"
          id="total-amount"
          formControlName="amount"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary btn-modal-close"
        (click)="this.closeModal()"
      >
        Close
      </button>
      <button
        type="submit"
        [disabled]="addLoanSuggestion.invalid"
        class="btn btn-outline-dark btn-modal"
      >
        Send Suggestion
      </button>
    </div>
  </form>
</div>
