.navbar {
  background-color: #694873;
  padding-top: 3px;
  padding-bottom: 3px;
}

.footer-full {
  margin-top: 100px;
}

.footer-logos {
  width: 40px;
  margin: 0px 20px;
}

.footer-text {
  margin: 15px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black;
}
