<div class="footer-full">
  <nav class="navbar navbar-expand-lg fixed-bottom navbar-light full-navbar">
    <ul class="navbar-nav mr-auto"></ul>
    <form class="form-inline my-2 my-lg-0">
      <span class="color:#000000 font-weight-bolder footer-text"></span>
      <img class="footer-logos" src="../../../../assets/angular-logo.jpg" />
      <img class="footer-logos" src="../../../../assets/firebase-logo.jpg" />
      <img class="footer-logos" src="../../../../assets/bootstrap-4-logo.jpg" />
      <img class="footer-logos" src="../../../../assets/jestlogo.jpg" />
    </form>
  </nav>
</div>
