<br />
<div class="row">
  <div
    class="justify-content-center align-items-center mb-1 col-md-6 col-sm-12 col-xs-12"
  >
    <div class="col-12">
      <div class="card card-pricing">
        <div class="card-header">
          <h4 class="card-title">Current Investments</h4>
        </div>
        <div *ngIf="this.currentInvestments">
          <app-show-investment
            *ngFor="let invest of this.currentInvestments"
            [investmentData]="invest"
            [user]="this.user"
          >
          </app-show-investment>
        </div>
      </div>
    </div>
    <br />
  </div>

  <div
    class="justify-content-center align-items-center mb-1 col-md-6 col-sm-12 col-xs-12"
  >
    <div class="col-12">
      <div class="card card-pricing">
        <div class="card-header">
          <h4 class="card-title">Active Loan Requests</h4>
        </div>
        <app-active-loan-requests
        *ngFor="let req of this.loanRequests"
        [requestData]="req"
        [user]="this.user"
        ></app-active-loan-requests>
      </div>
    </div>
  </div>
</div>
