<br/>
<div class="row">
<div class="justify-content-center align-items-center mb-1 col-md-6 col-sm-12 col-xs-12">
    <div class="col-12">
        <div class="card card-pricing">
            <div class="card-header">
                <h4 class="card-title">Current Investments</h4>
            </div>
            <!-- Here to be ngFor!!! -->
            <div *ngIf="this.currentInvestments">
            <div class="card-body" *ngFor="let loan of this.currentInvestments">
                <ul class="list-unstyled" style="border: 2px solid gray; padding: 5px;">
                    Loan: 
                    <li>
                            <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p>Investor: <b>{{this.loan.investor}}</b></p>
                                                <p>Next Due Date: <b>{{this.loan.dueDate}}</b></p>
                                                <p>Due Installment: <b>{{this.loan.dueInstallment}}</b></p>
                                                <p>Overdue Installments: <b>{{this.loan.overdueInstallments}}</b></p>
                                                <p>Payments Left: <b>{{this.loan.installmentLeft}}</b></p>
                                                <p>Penalty: <b>{{this.loan.penalty}}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </li>
                    <li>
                            <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p><b>To pay:</b></p>
                                            </div>
                                            <h3 class="text-info fw-bold">{{this.loan.amount - this.loan.installmentLeft}} $</h3>
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-info w-{{((this.loan.amount - this.loan.installmentLeft) / this.loan.amount) * 100}}" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="text-muted mb-0">{{((this.loan.amount - this.loan.installmentLeft) / this.loan.amount) * 100}} %</p>
                                        </div>
                                    </div>
                                </div>
                    </li>
                    <li>
                            <div class="card">
                                    <div class="card-body pb-0">
                                        <div class="h3 fw-bold float-right text-primary">{{this.loan.interestRate}} %</div>
                                        <p> <b>Interest rate:</b> </p>
                                        <div class="pull-in sparkline-fix">
                                            <div id="lineChart"></div>
                                        </div>
                                    </div>
                                </div>
                    </li>
                    <button class="btn btn-primary btn-block"><b>Pay</b></button>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <br />
</div>

<div class="justify-content-center align-items-center mb-1 col-md-6 col-sm-12 col-xs-12">
    <div class="col-12">
        <div class="card card-pricing">
            <div class="card-header">
                <h4 class="card-title">Active Loan Requests</h4>
            </div>
            <!-- Here to make ngFor!!! -->
            <div class="card-body" *ngFor="let loanRequest of this.loanRequests; let i = index">
                <ul class="list-unstyled" style="border: 2px solid gray; padding: 5px;">
                    Request: 
                    <li>
                            <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p>Name: <b>{{this.loanRequest.$userId}}</b></p>
                                                <p>Total Amount: <b>{{this.loanRequest.amount}}</b></p>
                                                <p>Target Period: <b>{{this.loanRequest.period}}</b></p>
                                                <!-- <p>Partial: </p> -->
                                                <button type="button" (click)="this.loanRequestId(this.loanRequest.$requestId) && this.loanUserId(this.loanRequest.$userId)" class="btn btn-warning col-6" data-toggle="modal" data-target="#exampleModal"><b>Propose</b></button>
                                                <app-propose-modal (createSuggestion)="this.createSuggestion($event)"></app-propose-modal>
                                            </div>
                                        </div>
                                        <!-- <button class="btn btn-danger col-6" (click)="this.deleteRequest(this.loanRequest.$requestId)"><b>Delete</b></button> -->
                                    </div>
                                </div>
                    </li>
                </ul>
        </div>
        </div>
    </div>
</div>

</div>
