<div class="header">
    <h6 class="modal-title" id="basic-title">
      Please enter your details:
    </h6>
  </div>
  <div class="body">
    <form class="container" [formGroup]="this.signinForm">
      <div class="row">
        <div class="form-group col-12">
          <label for="exampleInputEmail1">E-mail: </label>
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="Enter your E-mail"
            formControlName="email"
          />
        </div>
        <div class="form-group col-12">
          <label for="exampleInputEmail1">Password: </label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter your password"
            formControlName="password"
          />
        </div>
      </div>
      <div style="float: right;">
        <button type="button" class="btn btn-secondary" [routerLink]="''">
          Back
        </button>
        <button
          type="button"
          class="btn btn-outline-dark"
          [disabled]="!this.signinForm.valid"
          (click)="signIn()"
        >
          Sign In
        </button>
      </div>
    </form>
  </div>
